body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.buzzer {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    color: white;
    font-family: Arial, sans-serif;
}

.left {
    background-color: red;
}

.right {
    background-color: green;
}